Welcome to Hermes! "-.-"<br>
<br>
<b>GET Operations:</b><br>
<b>GET projects:</b> /projects/<br>
<b>GET project:</b> /projects/[projectObjId]/<br>
<b>GET accounts:</b> /projects/[projectObjId]/accounts/<br>
<b>GET account:</b> /projects/[projectObjId]/accounts/[accountID]/<br>
<b>GET queue:</b> /queue/<br>
<b>GET project on queue:</b> /projects/[projectObjId]/queue/<br>
<b>GET account on queue:</b> /projects/[projectObjId]/accounts/[accountID]/queue/<br>
<br>
<b>POST Operations:</b><br>
<b>POST project:</b> /projects/<br>
<b>POST account:</b> /projects/[projectObjId]/accounts/<br>
<b>POST project to queue:</b> /projects/[projectObjId]/queue/<br>
<b>POST account to queue:</b> /projects/[projectObjId]/accounts/[accountID]/queue/<br>
<br>
<b>PUT Operations:</b><br>
<b>PUT project:</b> /projects/[projectObjId]/<br>
<b>PUT account:</b> /projects/[projectObjId]/accounts/[accountID]/<br>
